.container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.texto{
    font-weight: 600;
    color: #f5f5dc;
    font-size: revert;
    text-shadow: 0.1em 0.1em #4f5f6e;
}