<app-navbar></app-navbar>

<div class="cardss header">
<div class="card" style="width: 39rem; opacity: 58%;">
  <mat-card class="text">
    <!-- <div class="card-body"> -->
      <div class="example-container form">
        
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          
          <mat-label>ingrese nombre</mat-label>
          <input matInput  class="text" #input maxlength="10" placeholder="Nombre">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>ingrese apellido</mat-label>
          <input matInput  class="text" #input maxlength="10" placeholder="Apellido">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
      </div>
      <div class=" form">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          
          <mat-label>email</mat-label>
          <input matInput  class="text" #input maxlength="10" placeholder="pat@example.com">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>nombre mascota</mat-label>
          <input matInput  class="texto" #input maxlength="10" placeholder="nobre mascota">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
      </div>

      <div class=" form">
        <mat-form-field hintLabel="Max 10 characters" class="text" appearance="fill">
          
          <mat-label>peso</mat-label>
          <input matInput class="text" #input maxlength="10" placeholder="peso mascota">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>nombre mascota</mat-label>
          <input matInput  class="text" #input maxlength="10" placeholder="raza mascota">
          <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
        </mat-form-field>
      </div>
     
        <!-- <form>
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">nombre</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="text">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Apellido</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="text">
                </div>
            </div>
            <div class="row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">correo</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="text">
              </div>


                <div class="form-group col-md-6">
                  <label for="inputEmail4">nombre Mascota</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Peso</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="text">
                </div>

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Talla</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="text">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Color</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Raza</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Pelaje</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="text">
                </div>
              </div>

          </form> -->
    <!-- </div> -->
  </mat-card>
  </div>
  </div>
