<app-navbar></app-navbar>

<div class="cardss header">
    <div class="card" style="width: 39rem; opacity: 78%;">
        <mat-card class="text">

            <mat-toolbar>
                <span class="text">Persona List </span>
                <span class="example-spacer"></span>
                <mat-form-field appearance="standard">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </mat-toolbar>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let person"> {{person.nombrePersona}} </td>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> Apellido </th>
                    <td mat-cell *matCellDef="let person"> {{person.apellidoPersona}} </td>
                </ng-container>

                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let person"> {{person.correo}} </td>
                </ng-container>

                <ng-container matColumnDef="ver" >
                    <th mat-header-cell *matHeaderCellDef> Ver</th>
                    <td mat-cell *matCellDef="let person"> <button mat-button  (click)="openDialogView(person.nombrePersona)">
                      <span >Ver</span>
                    </button> </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>