<mat-card>
    <mat-card-title class="card" style="color: #ff4081;">Ver Mascotas</mat-card-title>
    <div class="row">
        <div class="col" *ngFor="let card of persons">
            <mat-card-content>Nombre de Mascota</mat-card-content>
            <mat-card-subtitle class="card">{{card.nombreMascota.length}}</mat-card-subtitle>
            <mat-card-content>Peso de Mascota</mat-card-content>
            <mat-card-subtitle class="card">{{card.pesoMascota}}</mat-card-subtitle>
            <mat-card-content>Raza de Mascota</mat-card-content>
            <mat-card-subtitle class="card">{{card.razaMascota}}</mat-card-subtitle>
        </div>
    </div>
    <mat-card-actions class="card">
        <button mat-raised-button color="accent" (click)="onNoClick()">Acepar</button>
    </mat-card-actions>
</mat-card>